# Base de données PostgreSQL Production
POSTGRES_USER=nere_db_user
POSTGRES_PASSWORD=Remplacer_Par_Un_Mot_De_Passe_Tres_Securise_123!
POSTGRES_DB=nere_db_prod

# Clé secrète backend (Générer avec: openssl rand -hex 32)
SECRET_KEY=votre_cle_secrete_tres_longue_et_aleatoire

# Domaine Backend (VPS)
DOMAIN_API=api.votre-domaine.com

# Domaines Frontend Netlify autorisés pour CORS
CORS_ORIGINS=https://nere-health.netlify.app,https://nere-admin.netlify.app

# Hôtes autorisés
ALLOWED_HOSTS=nere-health.onrender.com,localhost,127.0.0.1

# Google OAuth (Optionnel)
GOOGLE_CLIENT_ID=503627084817-h0l0cpq9epaco7lqmq0cqsk94p1g9l5j.apps.googleusercontent.com
