__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.sqlite3
*.db
*.log
.env
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.installed.cfg
*.egg
