fastapi==0.129.2
uvicorn[standard]==0.41.0

# Base de données
sqlalchemy==2.0.46
psycopg2-binary==2.9.11

# Migrations
alembic==1.18.4

# Validation & config
pydantic==2.12.5
python-dotenv==1.2.1

# Sécurité
passlib[bcrypt]==1.7.4
bcrypt==5.0.0
python-jose[cryptography]==3.5.0
authlib==1.6.10
gunicorn==25.3.0
slowapi==0.1.9

# HTTP & utils
requests==2.33.1
python-multipart==0.0.26

# Tests
pytest==9.0.2
httpx==0.28.1

# Logs (optionnel mais recommandé)
loguru==0.7.3

email-validator==2.3.0
tzdata==2026.1
